#**DATA WRANGLING**

In [ ]:
#Cargamos Pandas
import pandas as pd

Consigna: Leer los set de datos w_data.csv y p_data.csv, fusionarlos a partir de la variable que tengan en común (ID) y realizar las siguientes ejercicios:

In [ ]:
#Cargamos las bases
w = pd.read_csv("w_data.csv",sep=";")
p = pd.read_csv("p_data.csv",sep=";")

In [ ]:
p.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [ ]:
w.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

In [ ]:
#Vemos la forma de los dataframe
print(f"El dataframe p tiene {p.shape[0]} filas y {p.shape[1]} columnas, mientras que el dataframe w tiene {w.shape[0]} filas y {w.shape[1]} columnas")

El dataframe p tiene 36975 filas y 9 columnas, mientras que el dataframe w tiene 48843 filas y 7 columnas

In [ ]:
#Unimos los bases
df = pd.merge(w,p,how="outer",on="ID")
print(f"El nuevo dataset tiene {df.shape[0]} filas y {df.shape[1]} columnas")
df.sample(5)

El nuevo dataset tiene 48843 filas y 15 columnas

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship
13076,Private,243660.0,0.0,0.0,40.0,667078900,<=50K,28.0,Male,White,United-States,HS-grad,9.0,Married-civ-spouse,Husband
33653,Private,34378.0,0.0,0.0,40.0,59123373,<=50K.,38.0,Male,White,United-States,7th-8th,4.0,Married-civ-spouse,Husband
44568,Private,150025.0,0.0,0.0,40.0,522036821,<=50K.,28.0,Male,White,Peru,Some-college,10.0,Never-married,Not-in-family
43856,Private,131662.0,0.0,0.0,40.0,1066100024,<=50K.,54.0,Female,White,Germany,Some-college,10.0,Divorced,Not-in-family
47301,Private,185832.0,7298.0,0.0,40.0,221829012,>50K.,44.0,Male,White,United-States,HS-grad,9.0,Married-civ-spouse,Husband

##1. Cuantos ID tienen en común. Nombrar cuales no tienen en común

In [ ]:
#Vemos qué ID's de la base w está en la base p
w["ID"].isin(p["ID"]).value_counts()

True     48842
False        1
Name: ID, dtype: int64

Los datasets tienen 48842 ID en común

In [ ]:
print(f"El ID que no tienen en común es: ",w[w["ID"].isin(p["ID"])==False].ID.values)

El ID que no tienen en común es:  [1344995623]

##2. Corregir los target a solo dos valores distintos ‘<=50k’ y ‘>50k’

In [ ]:
#Vemos que valores tiene la variable Target
df.Target.unique()

array([' <=50K', ' >50K', nan, ' <=50K.', ' >50K.'], dtype=object)

In [ ]:
# Modificamos los valores
df.loc[df.Target==" >50K.","Target"] = ">50K"
df.loc[df.Target==" >50K","Target"] = ">50K"
df.loc[df.Target==" <=50K.","Target"] = "<=50K"
df.loc[df.Target==" <=50K","Target"] = "<=50K"

In [ ]:
#Verificamos que se hayan modificado los valores
df.Target.unique()

array(['<=50K', '>50K', nan], dtype=object)

##3. Calcular la proporción que hay entre personas con salarios >50k respecto del total para personas de distinto sexo, Raza y Educacion. Por ejemplo cuál es el porcentaje de mujeres con un salario mayor a 50K y compararlo con el de los hombres. Lo mismo para personas de distintas razas y Educación

In [ ]:
# Armamos una tabla de frecuencia relativa e iteramos el comando para cada variable
for i in ["Sex","Race","Education"]:
  print(df[[i,"Target"]].value_counts(normalize=True).reset_index().pivot_table(index=i,columns="Target",values=0),"\n\n")

Target      <=50K      >50K
Sex
 Female  0.295305  0.036220
 Male    0.465429  0.203047


Target                  <=50K      >50K
Race
 Amer-Indian-Eskimo  0.008497  0.001126
 Asian-Pac-Islander  0.022727  0.008374
 Black               0.084335  0.011589
 Other               0.007289  0.001024
 White               0.637886  0.217154


Target            <=50K      >50K
Education
 10th          0.026658  0.001781
 11th          0.035216  0.001884
 12th          0.012469  0.000983
 1st-4th       0.004893  0.000164
 5th-6th       0.009869  0.000553
 7th-8th       0.018284  0.001269
 9th           0.014639  0.000839
 Assoc-acdm    0.024324  0.008456
 Assoc-voc     0.031510  0.010688
 Bachelors     0.096476  0.067812
 Doctorate     0.003337  0.008825
 HS-grad       0.271923  0.051248
 Masters       0.024529  0.029872
 Preschool     0.001679  0.000020
 Prof-school   0.004443  0.012633
 Some-college  0.180484  0.042239